/* место для вашего кода */
html {
  scroll-behavior: smooth;
}

body {
  font-size: 20px;
  font-weight: 400;
}
h2 {
  font-family: Raleway;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}
a {
  text-underline-offset: 3.5px;
  text-decoration-thickness: 1px;
}

.address {
  display: flex;
  flex-direction: column;
  line-height: 1.35;
  font-style: normal;
}

.address__link {
  align-self: flex-start;
}

.bet-button {
  background: transparent;
  text-transform: uppercase;
  font-size: 22px;
  padding: 12px 32px;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  filter: opacity(0.6);
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
  margin-left: -52px;
}

.aligned-text {
  line-height: 1.15;
}

.aligned-text_center {
  text-align: center;
  line-height: 1;
}

.aligned-text_right {
  text-align: end;
  line-height: 1;
}

/* header */

.header {
  font-size: 18px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 92px 0 90px;
}

.header__links-list {
  display: flex;
  list-style: circle;
  gap: 32px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active .header__link {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 148px;
  margin-left: -151px;
  padding: 0 6px;
}

.header__address {
  margin-right: 4px;
}

/* cover */

.cover {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  padding: 168px 0 50px;
  position: relative;
}

.cover__inner {
  position: relative;
  z-index: 1;
}

.cover__text {
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 30px;
  text-transform: uppercase;
  margin-bottom: 133px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cover__text-block {
  display: block;
  letter-spacing: 30px;
}

.cover__description {
  display: flex;
  text-transform: uppercase;
  align-items: center;
  justify-content: end;
  gap: 81px;
}

.cover__description-text {
  text-transform: uppercase;
  font-size: 22px;
  line-height: 1.2;
  word-spacing: 18px;
}

/* lots */

.lots {
  margin-top: 180px;
  margin-bottom: 183px;
}

.lots__heading {
  margin-bottom: 27px;
  margin-left: 40px;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  margin-bottom: 30px;
  list-style: none;
  flex-wrap: wrap;
}

.lots__card-list-item {
  height: 450px;
  flex: 1 0 32%;
}

.card-link {
  text-decoration: none;
  height: 100%;
  display: block;
}

.card {
  height: 100%;
  padding: 50px 40px;
  color: #fff;
  background-size: cover;
  position: relative;
  display: block;
}

.card__title {
  text-decoration: underline;
  text-underline-offset: 2.5px;
  text-decoration-thickness: 1px;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

.card__text {
  line-height: 1.2;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}
.card__item-content {
  z-index: 1;
  position: relative;
  display: grid;
  flex-direction: column;
  height: 100%;
  align-content: space-between;
}

.lots__look-more-link {
  margin-left: 40px;
}

/* about */

.about {
  margin-bottom: 180px;
  display: grid;
  grid-template-columns: 430px auto;
  gap: 25px;
}

.about__text {
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: 400;
}

.about__text--no-margin {
  margin-bottom: 0;
}

.about__logo {
  background-color: #000;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 95px;
  width: 240px;
  height: 240px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  padding: 100px 0;
}

/* footer */

.footer {
  margin-bottom: 90px;
  font-size: 18px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

.footer__nav {
  list-style: none;
  text-align: center;
}

.footer__nav-item:first-child a {
  text-decoration: none;
}

.social {
  display: flex;
  gap: 48px;
}

.social__item {
  width: 48px;
  height: 48px;
}
